./data/images
/data/images
venv

./saved_models
/saved_models

# Ignorer les dossiers __pycache__
__pycache__/

# Ignorer les fichiers temporaires et de configuration
.idea/
*.pyc
*.pyo
*.pyd

# Ignorer les fichiers MAC
.DS_Store